name: method_report.yml
permissions:
  contents: write


on:
  repository_dispatch:
    types: [method]


jobs:
  generate-report:
    runs-on: ubuntu-latest
    env:
      REPO_HASH: ${{github.event.client_payload.repo_hash }}
      REPO_FULLNAME: ${{ github.event.client_payload.repository }}
      READ_ME: ${{github.event.client_payload.readme}}
      

    steps:
      - name: Log event payload
        run: |
          echo "Received event payload:"
          echo "$GITHUB_EVENT_PATH"
          cat $GITHUB_EVENT_PATH

      - name: Checkout central repository
        uses: actions/checkout@v6
        with:
          path: 'central'

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          repository: '${{ env.REPO_FULLNAME }}'
          path: 'testee'


      - name: Create Report File
        run: |
          mkdir -p central/report
          echo "# Report for commit ${{ env.REPO_FULLNAME }}" > central/report/${{ env.REPO_FULLNAME }}.md
      #TO-DO: Get Github Owner & Repo Name for more readability
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r central/requirements.txt

      - name: Run Test Script
        run: python central/test.py

      - name: Commit and Push the Report
        working-directory: central
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add report/${{ env.REPO_FULLNAME }}.md
          git commit -m "Add report for ${{ env.REPO_FULLNAME }}"
          git push

